body{
    display: flex;
    max-height: 100%;
    max-width: 100%;
    flex-direction: column;
    font-family: Helvetica, sans-serif, arial;
}

.title{
    background-color: palevioletred;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
    padding-left: 32px;
    padding-right: 32px;
}

.buttonChoice{
    background-color: palevioletred;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
    padding-left: 32px;
    padding-right: 32px;
}


.textResponse{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
    padding-left: 32px;
    padding-right: 32px;
    color: white;
    background-color: palevioletred;
    font-size: 24px;
}

button{
    background-color: #3882F6;
    padding: 16px;
    color: white;
    text-align: center;
    gap: 16px;
    font-size: 48px;
}